{% extends "base.html" %}
{% block title %}Student|Add{% endblock %}
{% block content %}
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Сотрудник/Добавление</h3>
                </div>
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'section-add' %}">
                        <button type="button" class="btn btn-info ">+ Отдел</button>
                    </a>
                    <a href="{% url 'student-list' %}">
                        <button type="button" class="btn btn-danger col-md-offset-5">Отменить</button>
                    </a>
                    <button type="submit" class="btn btn-primary ">Добавить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
