<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
</head>
<body>
Привет! <br>
Перейди на <br>
<a href="http://127.0.0.1:8000/api/v1/students/json/">api/v1/students/json/</a> для получения полного списка студентов в json
<br>
<a href="http://127.0.0.1:8000/api/v1/students/list/">api/v1/students/list/</a> для получения и редактирования списка студентов
<br>
<a href="http://127.0.0.1:8000/api/v1/section/list/">api/v1/section/list/</a> для получения и редактирования списка отделов
<br>
<a href="http://127.0.0.1:8000/api/v1/departament/list/">api/v1/departament/list/</a> для получения и редактирования списка депертаментов
<br>
<a href="http://127.0.0.1:8000/api/v1/contact/list/">api/v1/contact/list/</a> для получения и редактирования списка контактов
</body>
</html>
